.navbar-background{
position: relative; /* Moins risqué que absolute pour commencer */
  width: 95%;         /* Prend presque toute la largeur */
  max-width: 1600px;  /* Mais ne dépasse pas une certaine limite */
  margin: 20px auto;  /* Centre la barre horizontalement avec un espace en haut */
  height: 80px;       /* Une hauteur plus standard pour une navbar */
  
  background: rgba(45, 118, 180, 0.6);
  backdrop-filter: blur(10px); /* Optionnel : ajoute un effet de flou derrière */
  border-radius: 15px;
  display: flex;
  gap: 20px;
  align-items: center;

  box-shadow:inset 5px 0 2px -2px rgba(0, 0, 0, 0.1),inset -2px 0 8px -5px rgba(0, 0, 0, 0.1),  inset 0 5px 8px -2px rgba(0, 0, 0, 0.1),inset 0 -5px 8px -2px rgba(0, 0, 0, 0.1);
  border: 1.5px solid rgba(255, 255, 255, 0.4)    ;

}

.nav-right {
  margin-left: auto; 
  display: flex;
  gap: 35px; 
  color:white;
  font-weight: 500;
}